<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/public/css/style.css">
    <title>Quản trị</title>
</head>

<body>
    <div class="container">
        <div class="brand">
            <h1>Admin</h1>
        </div>

        <nav>
            <ul>
                <li><a href="index.php?act=home">Trang chủ</a></li>
                <li><a href="index.php?act=categories">Danh mục</a></li>
                <li><a href="index.php?act=products">Sản phẩm</a></li>
                <li><a href="index.php?act=customers">Khách hàng</a></li>
                <li><a href="index.php?act=comments">Bình luận</a></li>
                <li><a href="index.php?act=report">Thống kê</a></li>
            </ul>
        </nav>

        <div id="productList">
            <div style="background-color: brown !important;border-bottom: 1px solid gray;" class="prodTittle">
                <div class="prodID x">Id</div>
                <div class="prodName x">Tên</div>
                <div class="prodPrice x">Giá</div>
                <div class="prodDescription x">Mô tả</div>
                <div class="prodImg x">Ảnh</div>
                <div class="prodView x">Views</div>
                <div class="category_id x">Danh mục</div>
                <div class="prodInStock x">Thao tác</div>
            </div>
            <div class="prodRows">
                <div class="prodID y">Id</div>
                <div class="prodName y">Tên</div>
                <div class="prodPrice y">Giá</div>
                <div class="prodDescription y">Mô tả</div>
                <div class="prodImg y">
                    <img src="../uploads/iphone-14-pro-max-den-thumb-600x600.jpg" alt="">
                </div>
                <div class="prodView y">123</div>
                <div class="category_id y">Danh mục</div>
                <div class="button y">
                    <form action="" method="post">
                        <input name="prod-change-btn" type="submit" value="Sửa">
                    </form> 
                    <form action="" method="post">
                        <input name="prod-delete-btn" type="submit" value="Xoá">
                    </form>                   
                </div>             
            </div>
            <div class="prodRows">
                <div class="prodID y">Id</div>
                <div class="prodName y">Tên</div>
                <div class="prodPrice y">Giá</div>
                <div class="prodDescription y">Mô tả</div>
                <div class="prodImg y">
                    <img src="../uploads/iphone-14-pro-max-den-thumb-600x600.jpg" alt="">
                </div>
                <div class="prodView y">123</div>
                <div class="category_id y">Danh mục</div>
                <div class="button y">
                    <form action="" method="post">
                        <input name="prod-change-btn" type="submit" value="Sửa">
                    </form> 
                    <form action="" method="post">
                        <input name="prod-delete-btn" type="submit" value="Xoá">
                    </form>                   
                </div>             
            </div>
            <input name="prod-add-btn" type="submit" value="Thêm">
            
        </div>

    </div>
</body>

</html>