* {
  margin: 0px;
  padding: 0px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
}
body .container {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-areas: "brand brand" "nav main";
}
body .container .brand {
  height: 70px;
  width: 100%;
  grid-area: brand;
  background: linear-gradient(to right, rgb(15, 169, 51), rgb(19, 71, 154), rgb(206, 95, 16));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 5;
}
body .container .brand h1 {
  font-size: 50px;
}
body .container nav {
  background-color: rgb(187, 192, 221);
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  height: 1000px;
  padding: 17px;
}
body .container nav ul {
  width: 180px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .container nav ul li {
  list-style: none;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
}
body .container nav ul li a {
  text-decoration: none;
}
body .container nav ul li:hover {
  background-color: #7f2173;
  cursor: pointer;
}
body .container nav ul li:hover a {
  border-left: 1px solid white;
  color: white;
}
body .container #categories {
  width: 980px;
  height: auto;
  background-color: brown;
  position: relative;
}
body .container #categories form {
  width: 600px;
  height: 90px;
  background-color: brown;
  position: relative;
  padding: 20px;
}
body .container #categories form input[type=text] {
  color: black !important;
  position: absolute;
  right: 100px;
  width: 300px;
  height: 25px;
}
body .container #categories form input[name=list] {
  color: black !important;
  position: absolute;
  right: 180px;
  width: 70px;
  height: 20px;
}
body .container #categories form input[name=data-change] {
  color: black !important;
  position: absolute;
  right: 100px;
  width: 70px;
  height: 20px;
}
body .container #categories form input[name=data-send] {
  color: black !important;
  position: absolute;
  right: 100px;
  width: 70px;
  height: 20px;
}
body .container #ctgryList {
  width: 100%;
  height: auto;
}
body .container #ctgryList .rows {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.4fr;
  grid-template-areas: "x y z";
  height: 36px;
  padding: 5px;
  border-right: 0.5px solid gray;
  border-left: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}
body .container #ctgryList .rows .categoryID {
  grid-area: x;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  color: black !important;
}
body .container #ctgryList .rows .categoryName {
  grid-area: y;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  border-left: 0.5px solid gray;
  color: black !important;
}
body .container #ctgryList .rows .change {
  grid-area: z;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  border-left: 0.5px solid gray;
  color: black !important;
  position: relative;
}
body .container #ctgryList .rows .change form input[name=data-change] {
  width: 60px;
  height: 20px;
  background-color: #3498db;
  border: 1px solid #2980b9;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .container #ctgryList .rows .change form input[name=data-change]:hover {
  background-color: #7d29b9;
}
body .container #ctgryList .rows .change form input[name=data-delete] {
  width: 60px;
  height: 20px;
  background-color: red;
  border: 1px solid red;
  color: yellow;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .container #ctgryList .rows .change form input[name=data-delete]:hover {
  background-color: orange;
  color: red;
}
body .container #ctgryList input[name=data-add] {
  background-color: blueviolet;
  color: #ffffff !important;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}
body .container #ctgryList input[name=data-add]:hover {
  background-color: #4caf50;
}
body .container #products {
  grid-area: main;
  width: 980px;
  height: auto;
  background-color: rgb(165, 147, 42);
}
body .container #products form {
  width: 600px;
  height: 280px;
  background-color: rgb(165, 126, 42);
  position: relative;
  padding: 20px;
}
body .container #products form input[type=text],
body .container #products form input[type=number],
body .container #products form input[type=file] {
  color: black !important;
  position: absolute;
  right: 100px;
  width: 300px;
  height: 25px;
}
body .container #products form input[name=prod-data-send] {
  color: black !important;
  position: absolute;
  right: 100px;
  width: 70px;
  height: 20px;
}
body .container #products form input[name=prod-data-change] {
  color: black !important;
  position: absolute;
  right: 100px;
  width: 70px;
  height: 20px;
}
body .container #products form select[name=productCategory] {
  color: black !important;
  position: absolute;
  right: 275px;
}
body .container #products form input[name=prod-list] {
  color: black !important;
  position: absolute;
  right: 185px;
  width: 70px;
  height: 20px;
}
body .container #productList {
  width: 100%;
  height: auto;
}
body .container #productList .prodTittle {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 4fr 1fr 1fr 2fr 1fr;
  grid-template-areas: "prodID prodName prodPrice prodDescription prodImg prodView category_id button";
}
body .container #productList .prodTittle .x {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  color: white !important;
}
body .container #productList .prodRows {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 4fr 1fr 1fr 2fr 1fr;
  grid-template-areas: "prodID prodName prodPrice prodDescription prodImg prodView category_id button";
  position: relative;
}
body .container #productList .prodRows .y {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  color: black !important;
  border-bottom: 0.5px solid gray;
  padding: 7px;
  word-wrap: break-word;
  overflow-x: visible;
}
body .container #productList .prodRows .prodID {
  grid-area: prodID;
}
body .container #productList .prodRows .prodName {
  grid-area: prodName;
}
body .container #productList .prodRows .prodPrice {
  grid-area: prodPrice;
}
body .container #productList .prodRows .prodDescription {
  grid-area: prodDescription;
}
body .container #productList .prodRows .prodImg {
  grid-area: prodImg;
}
body .container #productList .prodRows .prodImg img {
  width: 60px;
  height: 60px;
}
body .container #productList .prodRows .prodView {
  grid-area: prodView;
}
body .container #productList .prodRows .category_id {
  grid-area: category_id;
}
body .container #productList .prodRows .button {
  grid-area: button;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .container #productList .prodRows .button form input[name=prod-change-btn] {
  width: 60px;
  height: 20px;
  background-color: #3498db;
  border: 1px solid #2980b9;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .container #productList .prodRows .button form input[name=prod-change-btn]:hover {
  background-color: #7d29b9;
}
body .container #productList .prodRows .button form input[name=prod-delete-btn] {
  width: 60px;
  height: 20px;
  background-color: red;
  border: 1px solid red;
  color: yellow;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .container #productList .prodRows .button form input[name=prod-delete-btn]:hover {
  background-color: orange;
  color: red;
}
body .container #productList a {
  margin-bottom: 10px;
}
body .container #productList a input[name=prod-add-btn] {
  background-color: blueviolet;
  color: #ffffff !important;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}
body .container #productList a input[name=prod-add-btn]:hover {
  background-color: rgb(207, 71, 22);
}
body .container #users {
  width: 100%;
  height: auto;
}
body .container #users .colums {
  border-left: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 0.7fr;
  grid-template-rows: auto;
  height: 40px;
}
body .container #users .colums .userName {
  border-left: 0.5px solid gray;
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #users .colums .name {
  border-left: 0.5px solid gray;
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #users .colums .sdt {
  border-left: 0.5px solid gray;
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #users .colums .email {
  border-left: 0.5px solid gray;
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #users .colums .password {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #users .colums .quyenHan {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #users .colums .change {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #users .rows {
  border-bottom: 0.5px solid gray;
  border-left: 0.5px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 0.7fr;
  height: 40px;
}
body .container #users .rows .userName {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #users .rows .sdt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #users .rows .name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #users .rows .email {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #users .rows .password {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #users .rows .quyenHan {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #users .rows .change {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #users .rows .change form input {
  color: black;
  margin-left: 5px;
}
body .container #userChange {
  width: 980px;
  height: auto;
  background-color: brown;
  position: relative;
}
body .container #userChange form {
  width: 600px;
  height: 110px;
  background-color: brown;
  position: relative;
  padding: 20px;
}
body .container #userChange form input[type=text] {
  color: black !important;
  position: absolute;
  right: 100px;
  width: 300px;
  height: 25px;
}
body .container #userChange form input[name=list] {
  color: black !important;
  position: absolute;
  right: 180px;
  width: 70px;
  height: 20px;
}
body .container #userChange form input[name=powerChange] {
  color: black !important;
  position: absolute;
  right: 100px;
  width: 70px;
  height: 20px;
}
body .container #userChange form input[name=data-send] {
  color: black !important;
  position: absolute;
  right: 100px;
  width: 70px;
  height: 20px;
}
body .container #comments {
  width: 100%;
  height: auto;
}
body .container #comments .colums {
  border-left: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray;
  display: grid;
  grid-template-columns: 150px 349px 230px 150px 100px;
  grid-template-columns: 1.5fr 3.5fr 2.3fr 1.5fr 1fr;
  grid-template-rows: auto;
  height: 40px;
}
body .container #comments .colums .username {
  border-left: 0.5px solid gray;
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #comments .colums .content {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #comments .colums .date {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #comments .colums .prodID {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #comments .colums .change {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #comments .rows {
  border-bottom: 0.5px solid gray;
  border-left: 0.5px solid gray;
  display: grid;
  grid-template-columns: 1.5fr 3.5fr 2.3fr 1.5fr 1fr;
  height: 40px;
}
body .container #comments .rows .username {
  border-left: 0.5px solid gray;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
  text-overflow: ellipsis;
}
body .container #comments .rows .content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #comments .rows .content span {
  width: 330px;
  white-space: nowrap;
  color: black;
}
body .container #comments .rows .date {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
  text-overflow: ellipsis;
}
body .container #comments .rows .prodID {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
  text-overflow: ellipsis;
}
body .container #comments .rows .change {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #comments .rows .change form input {
  width: 60px;
  height: 20px;
  background-color: red;
  border: 1px solid #2980b9;
  color: yellow;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .container #comments .rows .change form input:hover {
  background-color: #7d29b9;
}
body .container #static {
  width: 100%;
  height: auto;
}
body .container #static .tittle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: rgb(160, 14, 131);
}
body .container #static .tittle li {
  list-style: none;
}
body .container #static .rows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
body .container #static .rows li {
  display: flex;
  align-items: center;
  height: 25px;
  list-style: none;
  border-bottom: 0.5px solid gray;
  border-left: 0.5px solid gray;
  padding-left: 10px;
  color: black;
}
body .container #donhang {
  width: 100%;
  height: auto;
}
body .container #donhang .colums {
  border-left: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 40px;
}
body .container #donhang .colums .id_donHang {
  border-left: 0.5px solid gray;
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #donhang .colums .userName {
  border-left: 0.5px solid gray;
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #donhang .colums .ngayDatHang {
  border-left: 0.5px solid gray;
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #donhang .colums .soLuong {
  border-left: 0.5px solid gray;
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #donhang .colums .tongGiaDonHang {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #donhang .colums .trangThai {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #donhang .colums .change {
  background-color: #7f2173;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid gray;
}
body .container #donhang .rows {
  border-bottom: 0.5px solid gray;
  border-left: 0.5px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 40px;
}
body .container #donhang .rows .id_donHang {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #donhang .rows .userName {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #donhang .rows .ngayDatHang {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #donhang .rows .soLuong {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #donhang .rows .tongGiaDonHang {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #donhang .rows .trangThai {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #donhang .rows .change {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-right: 0.5px solid gray;
}
body .container #donhang .rows .change form input {
  color: black;
  margin-left: 5px;
}/*# sourceMappingURL=style.css.map */